@import "tailwindcss";
@plugin "tailwind-scrollbar";
@layer components {
    @keyframes triangle-top-flash {
        0%, 49% {
            fill: rgb(255, 98, 0);
            filter: drop-shadow(0 0 8px rgb(255, 120, 36));
        }
        50%, 100% {fill: black; filter: none;}
    }

    @keyframes triangle-bottom-flash {
        0%, 49% {fill: black; filter: none}
        50%, 100% {
            fill: rgb(255, 98, 0);    
            filter: drop-shadow(0 0 8px rgb(255, 120, 36))         
}
    }

    .triangle-toggle:hover .triangle-top {
        animation: triangle-top-flash 1.8s ease-in-out infinite;
    }

    .triangle-toggle:hover .triangle-bottom {
        animation: triangle-bottom-flash 1.8s ease-in-out infinite;
    }
}