@import "tailwindcss";
@plugin "tailwind-scrollbar";
@layer components {
    @keyframes triangle-top-flash {
        0%, 49% {fill: rgb(255, 98, 0)}
        50%, 100% {fill: black}
    }

    @keyframes triangle-bottom-flash {
        0%, 49% {fill: black}
        50%, 100% {fill: rgb(255, 98, 0)}
    }

    .triangle-toggle:hover .triangle-top {
        animation: triangle-top-flash 2.2s ease-in-out infinite;
    }

    .triangle-toggle:hover .triangle-bottom {
        animation: triangle-bottom-flash 2.2s ease-in-out infinite;
    }
}